<a href="https://colab.research.google.com/github/ChaeYun430/MachineLearningStudy25/blob/master/data_handling/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
# ===== Pandas 개요 =====
# 파이썬의 리스트, 컬렉션, 넘파이 등의 내부 데이터뿐만 아니라
# CSV 등의 파일을 쉽게 DataFrame으로 변경해 데이터의 가공/분석을 편리하게 수행 가능
import pandas as pd

titanic_df = pd.read_csv(r'/titanic_train.csv') # 문자열 안에 있는 백슬래시(\)를 특수문자(이스케이프 시퀀스) 로 해석하지 말라
display(titanic_df.head())

print(titanic_df.info())
# 데이터 건수, 데이터 타입, Null 건수

display(titanic_df.describe())
# 칼럼별 숫자형 데이터값의 n-percentile 분포도, 평균값, 최댓값, 최솟값

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# ===== Series 객체 =====
display(titanic_df['Pclass'].head())
print(type(titanic_df['Pclass']))

print(titanic_df['Pclass'].value_counts())
print(type(titanic_df['Pclass'].value_counts()))
# 카테고리 칼럼 : 특정 범주에 속하는 값을 코드화한 칼럼
# 해당 칼럼의 유형과 건수를 정렬하여 반환 -> 칼럼별 데이터 값의 분포도 파악 가능

print(titanic_df['Embarked'].value_counts())
print(titanic_df['Embarked'].value_counts(dropna = False))
# 인덱스는 단순히 순차 값과 같은 의미 없는 식별자만 할당하는 것이 아니라 고유성이 보장된다면 의미 있는 데이터값 할당도 가능하다. -> pk로 생각
# Null 값 무시 여부 설정  가능

In [ ]:
# ===== 타 자료형 과의 상호 변환 ======
# 2차원  이하의 데이터만  DataFrame으로 변환 가능
# ndarray, list,  dictionary
import numpy as np
import pandas as pd

col_name = ['col1', 'col2', 'col3']
list  =  [[1, 2, 3], [11, 12, 13]]
array = np.array(list)
dict = {'col1':[1, 11], 'col2':[2, 12], 'col3':[3, 13]}

display(pd.DataFrame(list, columns=col_name))
display(pd.DataFrame(array, columns=col_name))
display(pd.DataFrame(dict))

df = pd.DataFrame(list, columns=col_name)
array = df.values
list = df.values.tolist()
dict = df.to_dict('list')

print(array)
print(list)
print(dict)

In [ ]:
# ===== DataFrame 객체의 칼럼 데이터 세트 C U D =====

# ----- C -----
titanic_df['Age_0'] = 0
display(titanic_df.head())
# Series에 상숫값을 할당하면 Series의 모든 데이터 세트에 일괄적으로 적용됨

titanic_df['Age_by_10'] = titanic_df['Age'] * 10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
display(titanic_df.head())

# ----- U -----
titanic_df['Age_by_10'] = titanic_df['Age_by_10'] + 100
display(titanic_df.head())

# ----- D -----
titanic_df.drop('Age_0', axis = 1) # 비파괴적 처리
display(titanic_df.head())
display(titanic_df.drop('Age_0', axis = 1).head())

titanic_df.drop(['Age_0', 'Age_by_10', 'Family_No'], axis = 1, inplace = True) # 파괴적 처리
display(titanic_df.head())

# ===== DataFrame 객체의 로우 데이터 세트 D =====
titanic_df.drop([0, 1, 2], axis = 0, inplace = True)
display(titanic_df.head())

In [49]:
# ===== Index 객체 =====

# 식별성 데이터를 1차원 array로 가지고 있다.
print(titanic_df.index)
print(titanic_df.index.values[:10])

# 한 번 만들어진 DataFrame 및 Series의 Index 객체는 함부로 변경할 수 없다.
# Series 객체에 연산 함수를 적용할 때 Index는 연산에서 제외된다.

display(titanic_df.reset_index().head())
# 새롭게 인덱스를 연속 숫자 형으로 할당하며 기존 인덱스는 'index'라는 새로운 칼럼명으로 추가한다.

RangeIndex(start=0, stop=891, step=1)
[0 1 2 3 4 5 6 7 8 9]

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_df.fillna({'Age':titanic_df['Age'].mean()}, inplace = True)
titanic_df.fillna({'Cabin':'N'}, inplace = True)
titanic_df.fillna({'Embarked':'N'}, inplace = True)
print(titanic_df.isnull().sum())
display(titanic_df.head())

# feature : 모델이 학습에 사용하는 입력 변수
print(titanic_df['Sex'].value_counts())