<a href="https://colab.research.google.com/github/ChaeYun430/MachineLearningStudy25/blob/master/data_handling/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ===== Pandas 개요 =====
# 파이썬의 리스트, 컬렉션, 넘파이 등의 내부 데이터뿐만 아니라
# CSV 등의 파일을 쉽게 DataFrame으로 변경해 데이터의 가공/분석을 편리하게 수행 가능
import pandas as pd

titanic_df = pd.read_csv(r'/titanic_train.csv') # 문자열 안에 있는 백슬래시(\)를 특수문자(이스케이프 시퀀스) 로 해석하지 말라
display(titanic_df.head())

print(titanic_df.info())
# 데이터 건수, 데이터 타입, Null 건수

display(titanic_df.describe())
# 칼럼별 숫자형 데이터값의 n-percentile 분포도, 평균값, 최댓값, 최솟값

In [ ]:
# ===== Series 객체 =====
display(titanic_df['Pclass'].head())
print(type(titanic_df['Pclass']))

print(titanic_df['Pclass'].value_counts())
print(type(titanic_df['Pclass'].value_counts()))
# 카테고리 칼럼 : 특정 범주에 속하는 값을 코드화한 칼럼
# 해당 칼럼의 유형과 건수를 정렬하여 반환 -> 칼럼별 데이터 값의 분포도 파악 가능

print(titanic_df['Embarked'].value_counts())
print(titanic_df['Embarked'].value_counts(dropna = False))
# 인덱스는 단순히 순차 값과 같은 의미 없는 식별자만 할당하는 것이 아니라 고유성이 보장된다면 의미 있는 데이터값 할당도 가능하다. -> pk로 생각
# Null 값 무시 여부 설정  가능

In [ ]:
# ===== 타 자료형 과의 상호 변환 ======
# 2차원  이하의 데이터만  DataFrame으로 변환 가능
# ndarray, list,  dictionary
import numpy as np
import pandas as pd

col_name = ['col1', 'col2', 'col3']
list  =  [[1, 2, 3], [11, 12, 13]]
array = np.array(list)
dict = {'col1':[1, 11], 'col2':[2, 12], 'col3':[3, 13]}

display(pd.DataFrame(list, columns=col_name))
display(pd.DataFrame(array, columns=col_name))
display(pd.DataFrame(dict))

df = pd.DataFrame(list, columns=col_name)
array = df.values
list = df.values.tolist()
dict = df.to_dict('list')

print(array)
print(list)
print(dict)

In [ ]:
# ===== DataFrame 객체의 칼럼 데이터 세트 C U D =====

titanic_df['Age_0'] = 0
display(titanic_df.head())
# Series에 상숫값을 할당하면 Series의 모든 데이터 세트에 일괄적으로 적용됨

In [ ]:
titanic_df.fillna({'Age':titanic_df['Age'].mean()}, inplace = True)
titanic_df.fillna({'Cabin':'N'}, inplace = True)
titanic_df.fillna({'Embarked':'N'}, inplace = True)
print(titanic_df.isnull().sum())
display(titanic_df.head())

# feature : 모델이 학습에 사용하는 입력 변수
print(titanic_df['Sex'].value_counts())